@import "tailwindcss";

/* Define your theme values: */
@theme {
  --color-light-hover: #fcf4ff;
  --color-dark-hover: #2a004a;
  --color-dark-theme: #11001f;

  --font-Outfit: "Outfit", sans-serif;
  --font-Ovo: "Ovo", serif;

  --shadow-black: 4px 4px 0 #000;
  --shadow-white: 4px 4px 0 #fff;
}

* {
  font-family: var(--font-outfit);
}

/* UTILITY CLASSES */
.font-ovo {
  font-family: var(--font-ovo);
}
.light_hover_color {
  color: #fcf4ff;
}
.dark_hover_color {
  color: #2a004a;
}
.dark_theme_color {
  color: #11001f;
}
